@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.container {
  padding-top: 10px;
}

h2, h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.form-container {
  max-width: 640px;
  margin: 0 auto;
}

.field_with_errors input, .field_with_errors textarea {
  @extend .is-invalid;
}

.details .row {
  padding: 10px;
}

.details .field {
  @extend .col-md-3;
  @extend .font-weight-bold;
  @extend .text-md-right;
}

.details .value {
  @extend .col-md-9;
}
